@using System.Globalization
@using VOZ.GUI.Resources.Translations

@* Forget about using a constant here. You cannot incorporate a string variable to the @page directive. Put up with it. *@
@page "/questionnaire"
@inherits QuestionnaireBase

<div class="fw-bolder" hidden="@(!IsLoading)">
    @($"{Localizer[VOZTranslations.QuestionsLoading]}...")
</div>
<div hidden="@IsLoading">
    <div>
        @($"{Localizer[VOZTranslations.Question]} {QuestionGenerator.QuestionCounter}:")
    </div>

    <div class="fw-bolder">
        @Text
    </div>

    @if (PotentialImage is { Image: { Length: > 0 } bytes } existingImage)
    {
        <div>
            @{
                var imageDimensions = GetImageDimensions(bytes);
            }

            <img
                class="img-fluid"
                src="@($"data:{existingImage.MimeType};base64,{System.Convert.ToBase64String(bytes)}")"
                width="@(imageDimensions?.Width)"
                height="@(imageDimensions?.Height)"
                alt="question_image" />
        </div>
    }

    <div class="pt-4">
        @foreach (var answer in Answers)
        {
            <div class="pb-2 w-100">
                <button
                    class="border border-dark btn text-start w-100 @(answer.IsCorrect ? ButtonCorrect : ButtonWrong) @ButtonDisabled"
                    @onclick="() => SubmitAnswer(answer)">
                    @(char.ToUpper(answer.Text[0], CultureInfo.InvariantCulture) + answer.Text[1..])
                </button>
            </div>
        }
    </div>

    <p class="h1 fw-bold takes-space @VerdictClass">
        @Verdict
    </p>

    <div class="fw-bolder pt-4">
        @*
        The href="" causes Blazor to apply the 'active' class to the NavLink when on the /questionnaire route.
        This class is applied to all links having the href value as prefix, and the empty value is prefix of everythign.
        Applying the class causes setting the background to darker gray instead of the desired light gray.
        The NavLinkMatch.All ensures that the class would be applied only if the current route exactly matched the href value.
        *@
        <NavLink class="border border-dark btn btn-light btn-lg" href="" Match="NavLinkMatch.All">
            @Localizer[VOZTranslations.Restart]
        </NavLink>
    </div>

</div>
