@using System.Globalization
@using VOZ.GUI.Components.Pages.QuestionnaireComponents
@using VOZ.GUI.Resources.Translations

@* Forget about using a constant here. You cannot incorporate a string variable to the @page directive. Put up with it. *@
@page "/questionnaire"
@inherits QuestionnaireBase

<div class="fw-bolder" hidden="@(!IsLoading)">
    @($"{Localizer[VOZTranslations.QuestionsLoading]}...")
</div>

<div hidden="@IsLoading">
    <div>
        @($"{Localizer[VOZTranslations.Question]} {QuestionGenerator.QuestionCounter}:")
    </div>

    <div class="fw-bolder">
        @Text
    </div>

    @if (PotentialImage is { Image: { Length: > 0 } bytes } existingImage)
    {
        <div>
            @{
                var imageDimensions = GetImageDimensions(bytes);
            }

            <img
                class="img-fluid"
                src="@($"data:{existingImage.MimeType};base64,{System.Convert.ToBase64String(bytes)}")"
                width="@(imageDimensions?.Width)"
                height="@(imageDimensions?.Height)"
                alt="question_image" />
        </div>
    }

    <div class="pt-4">
        @foreach (var answer in Answers)
        {
            @*
            First, for each answer button, reaction of the questionnaire to the answer event from the button is registered.
            Second, for each answer button, reaction of the button to the answer event from the questionnaire is registered.
            No method can be called from here when the button is rendered.
            The method doing the job is passed to the button and invoked in OnInitialized method of the button.
            *@
            if (answer.IsCorrect)
            {
                <CorrectAnswerButton
                    TheAnswer="answer"
                    RegisterCorrectAnswerButton="RegisterCorrectAnswerButton" />
            }
            else
            {
                <WrongAnswerButton
                    TheAnswer="answer"
                    RegisterWrongAnswerButton="RegisterWrongAnswerButton" />
            }
        }
    </div>

    <p class="h1 fw-bold takes-space @VerdictClass">
        @Verdict
    </p>

    <div class="fw-bolder pt-4">
        @*
        The href="" causes Blazor to apply the 'active' class to the NavLink when on the /questionnaire route.
        This class is applied to all links having the href value as prefix, and the empty value is prefix of everythign.
        Applying the class causes setting the background to darker gray instead of the desired light gray.
        The NavLinkMatch.All ensures that the class would be applied only if the current route exactly matched the href value.
        *@
        <NavLink class="border border-dark btn btn-light btn-lg" href="" Match="NavLinkMatch.All">
            @Localizer[VOZTranslations.Restart]
        </NavLink>
    </div>

</div>
