@using VOZ.Constants
@using VOZ.Resources.Translations

@page "/"
@inherits StartBase

<div class="fw-bolder" id="start-button-div">
    <button
        class="border border-dark btn btn-primary btn-lg voz-button @StartButtonDisabled"
        @onclick="Start">
        @Localizer[VOZTranslations.StartTest]
    </button>
</div>

<hr />

<div class="fw-bolder h3 pb-4 text-nowrap">
    @Localizer[VOZTranslations.CategoriesSelection]
</div>

<div class="container-fluid text-start">
    <div class="row">
        @foreach (var category in Categories)
        {
            <div class="col-auto pb-4 pe-4 ps-0 text-nowrap">
                <div class="form-check">
                    <input
                        id="@($"{IdsPartial.CATEGORY}{category.Id}")"
                        class="form-check-input"
                        type="checkbox"
                        checked="@IsCategorySelected(category.Id)"
                        @onchange="(e => OnCategoryChange(e, category))">
                    <label class="form-check-label fw-bolder h5" for="@($"{IdsPartial.CATEGORY}{category.Id}")">
                        @category.Name
                    </label>
                </div>

                @foreach (var subcategory in category.Subcategories)
                {
                    <div class="form-check">
                        <input
                            id="@($"{IdsPartial.SUBCATEGORY}{subcategory.Id}")"
                            class="form-check-input"
                            type="checkbox"
                            checked="@IsSubcategorySelected(subcategory.Id)"
                            @onchange="(e => OnSubcategoryChange(e, subcategory))">
                        <label class="form-check-label" for="@($"{IdsPartial.SUBCATEGORY}{subcategory.Id}")">
                            @subcategory.Name
                        </label>
                    </div>
                }
            </div>
        }
    </div>
</div>
